{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
<hr><br/>
<div class="row">
    <!-- Left sidebar content -->
    <!-- Load the sidebar -->
    {% include 'dashboard/sidebar.html'%}
    <!-- Right sidebar content -->
    <div class="col-md-9 table-responsive">
      {% if perms.auth.add_user %}  
        <form action="{% url 'add_user' %}" method="POST">
                <div class="text-center text-dark">
                    <h3>Add New User</h3>
                </div>
                {% csrf_token %}
                {{ form | crispy}}
                <button type="submit" class="btn btn-warning float-right mb-2 mr-1">Add</button>
          </form>
        {% else %}
          <h4 class="text-danger">You do not have permission add new user.</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}
