{% extends 'base.html'%}
{% block content %}
   <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h2 class="fw-bolder mb-1"> {{ single_blog.title }}</h2>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ single_blog.updated_at |timesince }} | {{ single_blog.author.first_name }} {{ single_blog.author.last_name }} 
                        </div>
                        <!-- Post category-->
                        <a class="badge bg-warning text-decoration-none text-light"  href="{% url 'posts_by_category' single_blog.category.pk %}" style="text-decoration: none;">{{ single_blog.category.category_name }}</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded card-img" src="{{ single_blog.featured_image.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4" align="justify" style="font-weight: 600;">{{ single_blog.short_description }}</p>
                        <p class="fs-5 mb-4" align="justify">{{ single_blog.blog_body }}</p>
                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                
                <!-- Categories widget-->
                <div class="card mb-4 p-3">
                    <h4 class="font-italic">Categories</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            {% for item in categories %}
                                <li><a href="{% url 'posts_by_category' item.pk %}" style="text-decoration: none; font-weight: 600;" class="cat-text">{{ item.category_name }}</a></li>
                            {% endfor %}
                            
                        </ul>        
                    </div>
                            
                </div>
            </div>
        </div>
                <!-- Side widget-->
                {% if social_links %}
                    <div class="card mb-4 p-3">
                        <h4 class="font-italic">Follow Us</h4>
                        {% for link in social_links %}
                            <ol class="list-unstyled">
                                <li><a href="{{ link.link }}">{{ link.platform }}</a></li>
                            </ol>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <h5><i class='fa fa-comments text-success' style='font-size:24px'></i>&nbsp &nbsp Comments  &nbsp  ({{ comments.count }})</h5>
                <hr>
                {% if comments %}
                    {% for comment in comments%}
                        <div class="card mt-2">
                            <div class="card-body">
                                <span card-text mb-0><small><b>Author: {{ comment.user.first_name}} {{ comment.user.last_name}}</b> - {{ comment.created_at }}</small></span>
                                <p>{{ comment.comment}}</p>
                            </div>
                        </div>
                        
                    {% endfor%}
                {% else%}
                    <div class="card">
                        <div class="card-body">
                            <h6>No comment for this post.</h6><br/>
                        </div>
                    </div>
                    <br/>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="form-ground mt-2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="comment" cols="30" rows="5" class="form-control" placeholder="Write your comment"></textarea>
                            <input type="submit" value="Submit" class="btn btn-primary mt-2">
                        </div>
                    </form>
                </div>
                {% else %}
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <span class="text-dark">You are not logged in. Please log in to comment &nbsp<a href="{% url 'login' %}">Login</a></span>
                        </div>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock content %}