{% extends "base.html" %}

{% block content %}
<hr>
<div class="row mb-2">
    <!-- Left sidebar content -->
    <!-- Load the sidebar -->
    {% include 'dashboard/sidebar.html'%}
    <!-- Right sidebar content -->
    <div class="col-md-9 table-responsive">
        <h3>All Categories</h3>
        <a href="{% url 'add_category' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
        <table class="table table-hover">
            
            <thead>
                <tr>
                  <th>#</th>
                  <th>Category Name</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for row in categories %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ row.category_name}}</td>
                  <td>{{ row.created_at }}</td>
                  <td>{{ row.updated_at}} </td>
                  <td>
                    <a href="{% url 'edit_category' row.id %}"><i class="fa fa-edit text-success"></i></a>
                    &nbsp
                    <a href="{% url 'del_category' row.id %}"><i class="fa fa-trash text-danger"></i></a>
                 </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
    </div>
</div>

{% endblock content %}

