{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
<hr><br/>
<div class="row">
    <!-- Left sidebar content -->
    <!-- Load the sidebar -->
    {% include 'dashboard/sidebar.html'%}
    <!-- Right sidebar content -->
    <div class="col-md-9 table-responsive">
        
        <form action="" method="POST" style="width: 500px;">
                <div class="text-center text-dark">
                    <h3>Delete Category</h3>
                </div>
                {% csrf_token %}
                {{ form | crispy}}
                <button type="submit" class="btn btn-warning float-right mb-2 mr-1">Save</button>
          </form>
    </div>
</div>
{% endblock content %}
