{% extends "base.html" %}

{% block content %}
<hr>
<div class="row mb-2">
    <!-- Left sidebar content -->
    <!-- Load the sidebar -->
    {% include 'dashboard/sidebar.html'%}
    <!-- Right sidebar content -->
    <div class="col-md-9 table-responsive">
      {% if perms.auth.view_user %}
        <h3>User List</h3>
        <a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right mb-2">Add User</a>
        <table class="table table-hover">
            
            <thead style="font-size:14px;">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Last Login</th>
                  <th>Active</th>
                  <th>Staff</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody style="font-size:14px;">
                {% for user in users %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.first_name}} {{ user.last_name}}</td>
                  <td>{{ user.email }}</td>
                  <td style="font-size: 9px; padding-top:18px; text-align: center">{{ user.last_login }}</td>
                  <td>{% if user.is_active %}<i class="fa fa-check text-success" style="margin-left:40%;"></i>{% else %}<i class="fa fa-close text-danger" style="margin-left:40%;"></i>{% endif %}</td>
                  <td>{% if user.is_staff %}<i class="fa fa-check text-success" style="margin-left:40%; font-size:14px;"></i>{% else %}<i class="fa fa-close text-danger" style="margin-left:40%;"></i>{% endif %}</td>
                  <td>
                    <a href="{% url 'edit_user' user.id %}"><i class="fa fa-edit text-success"></i></a>
                    &nbsp
                    <a href="{% url 'del_user' user.id %}"><i class="fa fa-trash text-danger"></i></a>
                 </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        {% else %}
        <h4 class="text-danger">You are not authorized at here.</h4>
        {% endif %}
    </div>
</div>

{% endblock content %}

